<h1>Activity 2 - UK ROAD ACCIDENT DATA ANALYTICS PROJECT</h1>
<hr>
<h2>Analyst: Margarette Ann Felonia</h2>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h2>Converting Dataset(s) into Dataframe</h2>
<hr>

In [2]:
uk_road_accident = pd.read_csv("dataset//uk_road_accident.csv")

In [3]:
uk_road_accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [4]:
uk_road_accident.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [5]:
uk_road_accident.describe().T

,count,mean,std,min,25%,50%,75%,max
Latitude,660654.0,52.553866,1.406922,49.914430,51.490690,52.315641,53.453452,60.757544
Longitude,660653.0,-1.431210,1.383330,-7.516225,-2.332291,-1.411667,-0.232869,1.762010
Number_of_Casualties,660679.0,1.357040,0.824847,1.000000,1.000000,1.000000,1.000000,68.000000
Number_of_Vehicles,660679.0,1.831255,0.715269,1.000000,1.000000,2.000000,2.000000,32.000000

<h1>Checking the null values</h1>
<hr>

In [6]:
uk_road_accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

<h1>Filling the null values</h1>
<hr>

In [7]:
uk_road_accident['Latitude'] = uk_road_accident['Latitude'].fillna(uk_road_accident['Latitude'].mean())
uk_road_accident['Longitude'] = uk_road_accident['Longitude'].fillna(uk_road_accident['Longitude'].mean())
uk_road_accident['Road_Surface_Conditions'] = uk_road_accident['Road_Surface_Conditions'].fillna(uk_road_accident['Road_Surface_Conditions'].mode()[0])
uk_road_accident['Road_Type'] = uk_road_accident['Road_Type'].fillna(uk_road_accident['Road_Type'].mode()[0])
uk_road_accident['Urban_or_Rural_Area'] = uk_road_accident['Urban_or_Rural_Area'].fillna(uk_road_accident['Urban_or_Rural_Area'].mode()[0])
uk_road_accident['Weather_Conditions'] = uk_road_accident['Weather_Conditions'].fillna(uk_road_accident['Weather_Conditions'].mode()[0])

In [8]:
uk_road_accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

In [9]:
uk_road_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  object
 10  Road_Type                660679 non-null  object
 11  Urban_or_Rural_Area      660679 non-null  object
 12  Weather_Conditions       660679 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

<h1>Changing the Data type</h1>
<hr>

In [10]:
uk_road_accident['Index']=uk_road_accident['Index'].astype('category')
uk_road_accident['Accident_Severity']=uk_road_accident['Accident_Severity'].astype('category')
uk_road_accident['Accident Date']=uk_road_accident['Accident Date'].astype('category')
uk_road_accident['Light_Conditions']=uk_road_accident['Light_Conditions'].astype('category')
uk_road_accident['District Area']=uk_road_accident['District Area'].astype('category')
uk_road_accident['Road_Surface_Conditions']=uk_road_accident['Road_Surface_Conditions'].astype('category')
uk_road_accident['Road_Type']=uk_road_accident['Road_Type'].astype('category')
uk_road_accident['Urban_or_Rural_Area']=uk_road_accident['Urban_or_Rural_Area'].astype('category')
uk_road_accident['Weather_Conditions']=uk_road_accident['Weather_Conditions'].astype('category')
uk_road_accident['Vehicle_Type']=uk_road_accident['Vehicle_Type'].astype('category')

In [11]:
uk_road_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  category
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  category
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
dtypes: category(10), float64(2), int64(2)
memory usage: 49.0 MB

<h1>Explanatory Data Analysis(EDA)</h1>
<hr>

<h3><b>Question 1</b></h3>
<h3>What is the average number of casualties in fatal accidents?</h3>

In [12]:
fatal_acc = uk_road_accident[(uk_road_accident["Accident_Severity"] == "Fatal") & (uk_road_accident["Number_of_Casualties"])]

In [13]:
fatal_acc

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
7,200701BS67370,Fatal,3/10/2019,51.482260,Darkness - lights lit,Kensington and Chelsea,-0.179486,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car
11,200701BS67747,Fatal,2/11/2019,51.499127,Daylight,Kensington and Chelsea,-0.159652,1,2,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
20,200701BS68301,Fatal,24-10-2019,51.505996,Daylight,Kensington and Chelsea,-0.214277,1,1,Dry,Single carriageway,Urban,Fine no high winds,Car
21,200701BS68302,Fatal,24-11-2019,51.486795,Daylight,Kensington and Chelsea,-0.170375,5,1,Dry,Single carriageway,Urban,Fine no high winds,Car
717,200701CP00032,Fatal,30-01-2019,51.510978,Daylight,City of London,-0.107581,1,2,Wet or damp,Dual carriageway,Urban,Fine no high winds,Car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660470,201091NH00529,Fatal,29-01-2022,58.475726,Daylight,Western Isles,-6.278583,1,1,Wet or damp,Single carriageway,Rural,Fine + high winds,Car
660519,201091NJ01533,Fatal,2/2/2022,58.495554,Daylight,Highland,-4.451628,1,1,Snow,Single carriageway,Rural,Snowing no high winds,Car
660565,201091NJ11329,Fatal,15-08-2022,57.871514,Daylight,Highland,-4.243081,1,1,Dry,Single carriageway,Rural,Fine no high winds,Goods 7.5 tonnes mgw and over
660581,201091NJ14695,Fatal,21-10-2022,58.445475,Darkness - lights lit,Highland,-3.065535,1,1,Wet or damp,Single carriageway,Rural,Fine no high winds,Car
660627,201091NL00060,Fatal,6/1/2022,60.241195,Daylight,Shetland Islands,-1.409761,3,1,Snow,Single carriageway,Rural,Fine no high winds,Van / Goods 3.5 tonnes mgw or under

<h5><b>INSIGHT:</b>Fatal accidents have an average of 1.9 casualties.
This means most fatal crashes involve about 2 people.
It shows that these accidents usually affect more than one person.</h5>

<h3><b>Question 2</b></h3>
<h3>Districts with more than 10 accidents involving ≥ 4 vehicles</h3>

big_accidents = uk_road_accident[uk_road_accident['Number_of_Vehicles'] >= 4].groupby('District Area').size()
big_accidents[big_accidents > 10]

<h5><b>INSIGHT:</b>Some districts had many big crashes with 4 or more cars. This means heavy traffic places are more at risk. When more cars are involved, the damage and injuries can be worse.</h5>

<h3><b>Question 3</b></h3>
<h3> Average casualties by road surface and light condition</h3>

In [14]:
casualties_grouped = uk_road_accident.groupby(['Road_Surface_Conditions','Light_Conditions'])['Number_of_Casualties'].mean()

In [15]:
casualties_grouped

Road_Surface_Conditions  Light_Conditions
Dry                      Darkness - lighting unknown    1.297072
                         Darkness - lights lit          1.352732
                         Darkness - lights unlit        1.301622
                         Darkness - no lighting         1.567877
                         Daylight                       1.321303
Flood over 3cm. deep     Darkness - lighting unknown    1.466667
                         Darkness - lights lit          1.525000
                         Darkness - lights unlit        3.500000
                         Darkness - no lighting         1.411321
                         Daylight                       1.513089
Frost or ice             Darkness - lighting unknown    1.281124
                         Darkness - lights lit          1.366371
                         Darkness - lights unlit        1.353846
                         Darkness - no lighting         1.408670
                         Daylight                       1.322749
Snow                     Darkness - lighting unknown    1.219048
                         Darkness - lights lit          1.341525
                         Darkness - lights unlit        1.269231
                         Darkness - no lighting         1.418758
                         Daylight                       1.359883
Wet or damp              Darkness - lighting unknown    1.339104
                         Darkness - lights lit          1.392372
                         Darkness - lights unlit        1.360273
                         Darkness - no lighting         1.550964
                         Daylight                       1.399811
Name: Number_of_Casualties, dtype: float64

<h5><b>INSIGHT:</b>The average casualties are usually around 1.3 to 1.5 across conditions.
The highest was 3.5 casualties on snow in unlit darkness.
Daylight values are slightly lower at around 1.3.</h5>

<h3><b>Question 4</b></h3>
<h3>Total fatal accident in rural areas</h3>

In [16]:
fatal_total = uk_road_accident[(uk_road_accident['Accident_Severity'] == "Fatal") & (uk_road_accident['Urban_or_Rural_Area'] == "Urban")]

In [17]:
fatal_total.value_counts().sum()

np.int64(3060)

In [18]:
fatal_total

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
7,200701BS67370,Fatal,3/10/2019,51.482260,Darkness - lights lit,Kensington and Chelsea,-0.179486,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car
11,200701BS67747,Fatal,2/11/2019,51.499127,Daylight,Kensington and Chelsea,-0.159652,1,2,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
20,200701BS68301,Fatal,24-10-2019,51.505996,Daylight,Kensington and Chelsea,-0.214277,1,1,Dry,Single carriageway,Urban,Fine no high winds,Car
21,200701BS68302,Fatal,24-11-2019,51.486795,Daylight,Kensington and Chelsea,-0.170375,5,1,Dry,Single carriageway,Urban,Fine no high winds,Car
717,200701CP00032,Fatal,30-01-2019,51.510978,Daylight,City of London,-0.107581,1,2,Wet or damp,Dual carriageway,Urban,Fine no high winds,Car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658716,2.01E+12,Fatal,11/12/2022,51.530375,Daylight,Cardiff,-3.116218,1,2,Dry,Dual carriageway,Urban,Fine no high winds,Van / Goods 3.5 tonnes mgw or under
659036,201063AC10710,Fatal,23-03-2022,51.856558,Daylight,Carmarthenshire,-4.314756,1,2,Dry,Roundabout,Urban,Fine no high winds,Car
659082,201063AC15310,Fatal,14-05-2022,51.686235,Daylight,Carmarthenshire,-4.192769,1,1,Wet or damp,Dual carriageway,Urban,Raining no high winds,Motorcycle over 125cc and up to 500cc
659486,201063BC07710,Fatal,1/6/2022,52.419716,Daylight,Ceredigion,-4.064567,2,2,Dry,Single carriageway,Urban,Fine no high winds,Car
660311,201063DP35410,Fatal,28-10-2022,52.515278,Darkness - lights lit,Powys,-3.317265,1,1,Dry,Single carriageway,Urban,Fine no high winds,Other vehicle

<h5><b>INSIGHT:</b>The total count shows there are 3,060 fatal accidents in rural areas.
This number is much higher compared to many individual districts.
It highlights that rural areas face a large share of fatal crashes.</h5>

<h3><b>Question 5</b></h3>
<h3>Compare mean casualties between daylight and darkness.</h3>

In [19]:
uk_road_accident.groupby('Light_Conditions')['Number_of_Casualties'].mean()

Light_Conditions
Darkness - lighting unknown    1.306447
Darkness - lights lit          1.369374
Darkness - lights unlit        1.331105
Darkness - no lighting         1.541657
Daylight                       1.340309
Name: Number_of_Casualties, dtype: float64

<h5><b>INSIGHT:</b>Casualties are 1.34 in daylight on average.
They are higher at 1.54 when in darkness without lighting.
This shows that poor lighting increases average casualties.</h5>

<h3><b>Question 6</b></h3>
<h3>Number of accidents under each weather condition.</h3>

In [20]:
uk_road_accident['Weather_Conditions'].value_counts()

Weather_Conditions
Fine no high winds       535013
Raining no high winds     79696
Other                     17150
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

<h5><b>INSIGHT:</b>Most accidents happened in fine no high winds with 535,013 cases.
Second was raining no high winds with 79,696 cases.
Even if the weather is clear, fine days still caused the most accidents.</h5>

<h3><b>Question 7</b></h3>
<h3>Average casualties per weather condition.</h3>

In [21]:
uk_road_accident.groupby('Weather_Conditions')['Number_of_Casualties'].mean()

Weather_Conditions
Fine + high winds        1.386018
Fine no high winds       1.347397
Fog or mist              1.452948
Other                    1.354869
Raining + high winds     1.416641
Raining no high winds    1.408214
Snowing + high winds     1.418079
Snowing no high winds    1.341776
Name: Number_of_Casualties, dtype: float64

<h5><b>INSIGHT:</bThe highest average casualties were in fog or mist at 1.45.
The lowest was in fine no high winds at 1.34.
Bad weather makes each crash more harmful, even if they happen less often.></h5>

<h3><b>Question 8</b></h3>
<h3>Average casualties by road surface condition.</h3>

In [22]:
uk_road_accident.groupby('Road_Surface_Conditions')['Number_of_Casualties'].mean()

Road_Surface_Conditions
Dry                     1.334545
Flood over 3cm. deep    1.495575
Frost or ice            1.348815
Snow                    1.359593
Wet or damp             1.411064
Name: Number_of_Casualties, dtype: float64

<h5><b>INSIGHT:</b>Flooded roads had the highest average of 1.49 casualties.
Dry roads had the lowest at 1.33 casualties.
This shows that rare but extreme surfaces, like floods, cause heavier impacts.</h5>

<h3><b>Question 9</b></h3>
<h3>Number of accidents for each road surface condition.</h3>

In [23]:
uk_road_accident['Road_Surface_Conditions'].value_counts()

Road_Surface_Conditions
Dry                     448547
Wet or damp             186708
Frost or ice             18517
Snow                      5890
Flood over 3cm. deep      1017
Name: count, dtype: int64

<h5><b>INSIGHT:</b>Dry roads had the most with 448,547 accidents.
Wet or damp roads had 186,708 accidents.
Even though dry roads are safer, they still have the most crashes because they are most common.</h5>

<h3><b>Question 10</b></h3>
<h3>Compare the total number of accidents between urban and rural areas.</h3>

In [24]:
uk_road_accident['Urban_or_Rural_Area'].value_counts()

Urban_or_Rural_Area
Urban          421678
Rural          238990
Unallocated        11
Name: count, dtype: int64

<h5><b>INSIGHT:</b>Urban areas had 421,678 accidents.
Rural areas had 238,990 accidents.
This means more accidents happen in cities, but rural areas still have many serious ones.</h5>

<h3><b>Question 11</b></h3>
<h3>Find accidents on 'Single carriageway' roads with >= 5 vehicles.</h3>

In [25]:
single = uk_road_accident[(uk_road_accident['Road_Type'] == 'Single carriageway') & (uk_road_accident['Number_of_Vehicles'] >= 5)]

In [26]:
single.value_counts().sum()

np.int64(1826)

In [27]:
single

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
179,200701BS70183,Slight,14-04-2019,51.482079,Daylight,Kensington and Chelsea,-0.173589,1,5,Dry,Single carriageway,Urban,Fine no high winds,Motorcycle 125cc and under
1600,200701CW10693,Slight,3/6/2019,51.533553,Darkness - lights lit,Westminster,-0.187534,5,5,Dry,Single carriageway,Urban,Fine no high winds,Minibus (8 - 16 passenger seats)
3153,200701EO40541,Slight,29-08-2019,51.562268,Daylight,Islington,-0.126372,4,6,Dry,Single carriageway,Urban,Fine no high winds,Car
4974,200701GD68362,Slight,7/11/2019,51.546190,Darkness - lights lit,Hackney,-0.061120,1,5,Dry,Single carriageway,Urban,Fine no high winds,Motorcycle 125cc and under
5590,200701HT67026,Slight,6/9/2019,51.513139,Darkness - lights lit,Tower Hamlets,0.000601,2,5,Dry,Single carriageway,Urban,Fine no high winds,Car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660204,201063DP24410,Slight,5/8/2022,51.919853,Daylight,Powys,-3.464519,4,7,Dry,Single carriageway,Rural,Fine no high winds,Bus or coach (17 or more pass seats)
660212,201063DP25210,Slight,15-08-2022,52.659526,Daylight,Powys,-3.361520,2,5,Dry,Single carriageway,Rural,Fine no high winds,Car
660233,201063DP27410,Slight,30-08-2022,52.649872,Daylight,Powys,-3.215909,1,5,Dry,Single carriageway,Rural,Fine no high winds,Van / Goods 3.5 tonnes mgw or under
660247,201063DP28810,Slight,27-07-2022,52.000467,Daylight,Powys,-3.274712,2,5,Dry,Single carriageway,Rural,Fine no high winds,Taxi/Private hire car
660333,201063DP37610,Slight,24-09-2022,52.683495,Daylight,Powys,-3.455319,1,5,Dry,Single carriageway,Rural,Fine no high winds,Car

<h5><b>INSIGHT:</b>There are 1,826 accidents on single carriageways with 5+ vehicles.
These are big pile-ups happening on this road type.
It proves single carriageways can be high-risk for large crashes.</h5>

<h3><b>Question 12</b></h3>
<h3>Which vehicle type is involved in the highest number of accidents?</h3>

In [28]:
uk_road_accident['Vehicle_Type'].value_counts()

Vehicle_Type
Car                                      497992
Van / Goods 3.5 tonnes mgw or under       34160
Bus or coach (17 or more pass seats)      25878
Motorcycle over 500cc                     25657
Goods 7.5 tonnes mgw and over             17307
Motorcycle 125cc and under                15269
Taxi/Private hire car                     13294
Motorcycle over 125cc and up to 500cc      7656
Motorcycle 50cc and under                  7603
Goods over 3.5t. and under 7.5t            6096
Other vehicle                              5637
Minibus (8 - 16 passenger seats)           1976
Agricultural vehicle                       1947
Pedal cycle                                 197
Data missing or out of range                  6
Ridden horse                                  4
Name: count, dtype: int64

<h5><b>INSIGHT:</b>Cars appear the most in the data.
Other vehicles like vans and motorcycles appear less.
This shows cars dominate road crashes since they are the most used.</h5>

<h3><b>Question 13</b></h3>
<h3>Which road type has the most accidents?</h3>

In [29]:
uk_road_accident['Road_Type'].value_counts()

Road_Type
Single carriageway    496663
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

<h5><b>INSIGHT:</b>Single carriageways had the most with 496,663 accidents.
Dual carriageways were second with 99,424 accidents.
Slip roads had the least with only 7,041 accidents.</h5>

<h3><b>Question 14</b></h3>
<h3>What is the maximum latitude recorded in the dataset?</h3>

In [ ]:
uk_road_accident['Latitude'].max()

<h5><b>INSIGHT:</b>The maximum latitude recorded is 60.757544.
This marks the northernmost location of an accident in the dataset.
It shows that accidents were recorded even in very high northern areas.</h5>

<h3><b>Question 15</b></h3>
<h3>Find correlation between number of vehicles and number of casualties.</h3>

uk_road_accident[['Number_of_Vehicles','Number_of_Casualties']].corr()

<h5><b>INSIGHT:</b>The correlation is 0.2289.
This means casualties rise a little when vehicles increase.
But the effect is weak since the value is far from 1.</h5>

<h3><b>Question 16</b></h3>
<h3>What is the total number of accidents by severity?</h3>

In [ ]:
uk_road_accident['Accident_Severity'].value_counts()

In [ ]:
<h5><b>INSIGHT:</b>The result shows Fatal = 29,383, Serious = 307,278, and Slight = 3,804,313 accidents.
Slight accidents make up the majority of the cases.
This means most crashes are minor, while fatal cases are rare.</h5>

<h3><b>Question 17</b></h3>
<h3>What is the average number of casualties per severity level?</h3>

In [ ]:
uk_road_accident.groupby('Accident_Severity')['Number_of_Casualties'].mean()

<h5><b>INSIGHT:</b>Fatal accidents had 1.90 casualties on average.
Serious accidents had 1.47 casualties.
Slight accidents had the least at 1.33 casualties.</h5>

<h3><b>Question 18</b></h3>
<h3>What is the maximum number of vehicles involved per severity level?</h3>

In [ ]:
uk_road_accident.groupby('Accident_Severity')['Number_of_Vehicles'].max()

<h5><b>INSIGHT:</b>Fatal accidents involved up to 28 vehicles.
Serious accidents involved up to 19 vehicles.
Slight accidents had the highest at 32 vehicles, showing that big pile-ups often happen in less severe cases.</h5>

<h3><b>Question 19</b></h3>
<h3>Find accidents with severity 'Serious' and more than 5 vehicles.</h3>

In [ ]:
serius = uk_road_accident[(uk_road_accident['Accident_Severity'] == 'Serious') & (uk_road_accident['Number_of_Vehicles'] > 5)]

In [ ]:
serius.value_counts().sum()

In [ ]:
serius

<h5><b>INSIGHT:</b>There are 225 accidents with this condition.
These are serious crashes with multiple vehicles.
It shows big vehicle crashes can still be labeled as serious, not only fatal.</h5>

<h3><b>Question 20</b></h3>
<h3>Which district had the highest total number of vehicles involved?</h3>

In [ ]:
uk_road_accident.groupby('District Area')['Number_of_Vehicles'].sum()

<h5><b>INSIGHT:</b>York had the highest at 3,521 vehicles.
Wycombe followed with 3,227 vehicles.
These districts had the largest involvement of vehicles in crashes.</h5>